a {
    text-decoration: none;
}

.scene-switch {
    border: 3px solid transparent;
    border-radius: 16px;
    cursor: pointer;
    float: left;
    height: 32px;
    margin-right: 0.75em;
    width: 32px;
}

.scene-switch.-birch { background-color: #a4bb77; }
.scene-switch.-birch.-open { border-color: #669900; }

.scene-switch.-cherry { background-color: #ffc3e1; }
.scene-switch.-cherry.-open { border-color: #ff6699; }

.scene-switch.-willow { background-color: #b9d0e8; }
.scene-switch.-willow.-open { border-color: #7799ff; }

.scene-switch.-wisteria { background-color: #d9c3ef; }
.scene-switch.-wisteria.-open { border-color: #9966dd; }

.scene-switches {
    height: 32px;
    overflow: visible;
    position: relative;
}